<!DOCTYPE html>
<html>
  <!-- <% cache('landing-head') do %> -->
  <head>
    <title>DN Designer Naruka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="description" content="Designer-Naruka: Website Design and Developmet Agency">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta property="og:title" content="Designer-Naruka: Website Design and Developmet Agency">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://designernaruka.com/">
    <meta property="og:image" content="/assets/og-image/main-banner.jpg">
    <meta name="apple-itunes-app" content="app-id=768163905"></meta>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <!-- <%= stylesheet_link_tag 'application', media: 'all' %> -->
    <!--[if gte IE 9]>
      <style type="text/css">

      </style>
    <![endif]-->
    <!-- <%= DesignerNaruka_favicon %> -->
    <link rel="shortcut icon" href="images/ico/favicon-16x16.png">
  </head>
<!-- <% end %> -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top animated bounceInDown go" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle navigation</span>
          </button>

          <a href="#" title="DN Designer Naruka">
            <img src="images/brand/brand-logo.svg" alt="DN Designer Naruka" class="navbar-brand img-responsive" height="auto" width="120">
          </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top" title="RETURN TO TOP"></a>
              <!-- <%= link_to(' ', '#page-top', class: 'page-scroll', title: 'RETURN TO TOP') %> -->
            </li>
            <li class="first-child">
              <a href="#hello" title="Hello I am Designer Naruka">Hello</a>
            </li>
            <li>
              <a href="#intro" title="INTRO" class="page-scroll">INTRO</a>
            </li>
            <li>
              <a href="#about" title="ABOUT" class="page-scroll">ABOUT</a>
            </li>
            <li>
              <a href="#skills" title="SKILLS" class="page-scroll">SKILLS</a>
            </li>
            <li>
              <a href="#work" title="WORK" class="page-scroll">WORK</a>
            </li>
            <li>
              <a href="#contact" title="LAB" class="page-scroll">LAB</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>

  <!-- Hello Intro -->
  <section class="swiper-container heroSlider animatedParent" id="hello">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-caption">
          <div class="swiper-content-holder">
            <div class="container">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-md-offset-3">
                A self-taught &amp; award winning Digital Art Director, Designer &amp; Developer with over seven years work experience.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-caption">
          <div class="swiper-content-holder">
            <div class="container">
              this is Second slide
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white hidden-sm hidden-xs"></div>
    <div class="swiper-button-prev swiper-button-white hidden-sm hidden-xs"></div>
    <a href="#intro" class="mouse-icon animated bounceInUp go slower page-scroll"><div class="wheel"></div></a>
  </section>

  <!-- Intro -->
  <section class="dnIntro" id="intro">
    <div class="dnIntro-caption">
      <div class="dnIntro-content">
        <div class="container animatedParent">
          <div class="row animated bounceInDown slower go">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-md-offset-2">
                <div class="headingSecondary">
                  <div class="headingHolder">
                    <h2>INTRO <i class="textLighter">DN</i></h2>
                  </div>
                </div>
                <div class="introText">
                  Hi, I’m Bhanu Pratap, a young creative developer from India.
                  <br>
                  I have multiple skills in development, design and project management.
                  <br>
                  My areas of interest include creating beautiful,interactive, responsive and user friendly websites.
                  <br>
                  Thanks for your visit on my portfolio, feel free to share and draw more on <strong><a href="#" title="draw more on Dribbble">Dribbble</a></strong>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Page -->
  <section id="about" class="dnAbout">
    <div class="dnAbout-caption">
      <div class="dnAbout-content">
        <div class="container">
          <div class="animatedParent">
            <h2 class="animated growIn slowest go">Quick Start</h2>
          </div>
          <div class="animatedParent col-md-6" data-sequence="1000">
            <p class="animated bounceInLeft go" data-id="1"> Include css3-animated.js at the end of your file and animations.css in the head. </p>
            <p class="animated bounceInLeft go" data-id="2"> Once you have done that you can just define <b>"animatedParent"</b> as the parent class which is what will trigger the child <b>class "animated"</b> to animate whichever animation is defined, here we are using <b>"bounceInDown"</b>. </p>
            <p class="animated bounceInLeft go" data-id="3"> <a href="http://jackonthe.net/css3animateit/examples">Click here</a> to see an example of all the animations. </p>
          </div>
          <div class="animatedParent col-md-6">
            <pre class="animated bounceInRight slow go">&lt;div class='<span class="highlighter">animatedParent</span>'&gt;
          &lt;h2 class='<span class="highlighter">animated bounceInDown</span>'&gt;It Works!&lt;/h2&gt;
        &lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section class="dnSkills" style="min-height: 1200px;">
    <div class="dnSkills-caption">
      <div class="dnSkills-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 spaceB120">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>SKILLS <i class="textLighter">DN</i></h2>
                </div>
              </div>
              <div>
                Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                a 25 year old creative developer from Jaipur (Rajasthan).
                Let me introduce myself.
              </div>
            </div>
          </div>
        </div>
        <div class="animatedParent">
          <div class="row" id="skills">
            <div class="col-md-12">
              <div class="col-md-6 animated fadeInLeft slower go skillsLeft">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                  <div class="skillsContent leftContent">
                    <div class="headingSecondary">
                      <div class="headingHolder">
                        <h3><i class="textLighter">Skills & Tools </i> Design </h3>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-10">
                        <h4>Sketch</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.</i>
                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-10">
                        <h4>Photoshop</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.</i>
                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">&nbsp;</div>
              </div>
              <div class="col-md-6 animated fadeInRight slower go skillsRight">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                  <div class="skillsContent rightContent">
                    <div class="headingSecondary">
                      <div class="headingHolder">
                        <h3><i class="textLighter"> Skills & Tools </i> Code </h3>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10">
                        <h4>Html Markup</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.<br>this is dummy text this is dummy text </i>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10">
                        <h4>Style with CSS</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.</i>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10">
                        <h4>Sublime</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.</i>
                      </div>
                    </div>
                    <div class="skillsSet clearfix">
                      <div class="col-md-2">
                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-10">
                        <h4>Dreamweaver</h4>
                        <i class="skillExp">5<sup>+</sup> Years Experience 50<sup>+</sup> projects Done.</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">&nbsp;</div>
              </div>
              <!-- Image Mockup -->
              <!-- <div class="col-md-4 hidden-sm hidden-xs text-center stat animated bounceInUp slower go col-md-offset-4 skillsPicture hidden-sm hidden-xs">
                <%#= image_tag 'skills/skills-moibile-screen.jpg' %>
              </div> -->
              <!-- End Image Mockup -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="hidden-sm hidden-xs hidden-md  hidden-lg">
    <div class="col-md-4 col-sm-6 text-right">
      <div class="content-box alt-right">
        <div class="alt-icon-right">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
        </div>
        <h4 class="alt-title">Bootstrap 3</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
      <div class="content-box alt-right">
        <div class="alt-icon-right">
          <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
        </div>
        <h4 class="alt-title">Clean code &amp; design</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
      <div class="content-box alt-right">
        <div class="alt-icon-right">
          <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
        </div>
        <h4 class="alt-title">Flexible &amp; Customizable</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 text-left animated fadeInRight slower go">
      <div class="content-box alt-left">
        <div class="alt-icon-left">
          <i class="icon-mobile"></i>
        </div>
        <h4 class="alt-title">Fully Reasponsive</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
      <div class="content-box alt-left">
        <div class="alt-icon-left">
          <i class="icon-pricetags"></i>
        </div>
        <h4 class="alt-title">Mutli prapose Theme</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
      <div class="content-box alt-left">
        <div class="alt-icon-left">
          <i class="icon-document"></i>
        </div>
        <h4 class="alt-title">Well Documented</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
      <div class="content-box alt-left">
        <div class="alt-icon-left">
          <i class="icon-chat"></i>
        </div>
        <h4 class="alt-title">Friendly Support</h4>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
      </div>
    </div>
  </div>

  <!-- Work -->
  <section id="work" class="dnWork">
    <div class="dnWork-caption">
      <div class="dnWork-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
                <div class="headingSecondary">
                  <div class="headingHolder">
                    <h2>Work <i class="textLighter">DN</i></h2>
                  </div>
                </div>
                <div>
                  Hi, I’m Designer Naruka ( Bhanu Pratap Singh Naruka),
                  a 25 year old creative developer from Jaipur (Rajasthan).
                  Let me introduce myself.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer id="contact">
    <!-- contact info -->

    <section class="contactInfo">
      <div class="container">
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
          <div class="contactHolder">
            <i class="fa fa-map-signs fa-2x contactSprite" aria-hidden="true"></i>
            <div>
              <h2>ADDRESS</h2>
              <p>28, Park Ville, Chordiya City Near kamla Nehru Nagar, Ajmer Road Jaipur ( raj )<br>INDIA 302012</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
          <div class="contactHolder">
            <i class="fa fa-envelope-o fa-fw fa-2x contactSprite" aria-hidden="true"></i>
            <div>
              <h2>EMAIL</h2>
              <p>contact@designernaruka.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
          <div class="contactHolder">
            <i class="fa fa-phone fa-2x contactSprite" aria-hidden="true"></i>
            <div>
              <h2>CALL ME</h2>
              <p>+91- 8769659799</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact info end -->

    <!-- get dn updates -->

    <section class="contactUpdates">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-4">
              <div class="headingSecondary">
                <div class="headingHolder">
                  <h2>GET <i class="textLighter">DN</i> UPDATES</h2>
                  <span>Kinldy provide your e-mail id for get in touch always</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div>
                <form action="#">
                  <div class="input-group col-lg-12 col-md-12  col-sm-12  col-xs-12">
                    <input class="btn btn-lg inputText col-lg-8 col-md-8 col-sm-7 col-xs-7" name="email" id="email" type="email" placeholder="Your Email" required>
                    <button class="btn btn-info btn-lg btnSubmit col-lg-4 col-md-4 col-sm-5 col-xs-5" type="submit">SUBSCRIBE NOW</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- get dn updates end -->

    <!-- socially connected icons -->

    <section class="socialConnect">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">
            <div class="headingSecondary col-md-offset-2">
              <div class="headingHolder">
                <h2>LET'S CONNECT <i class="textLighter">SOCIALLY</i></h2>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 spaceBnano spaceTnano">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                  <a href="https://dribbble.com/designernaruka" target="_blank" title="See me on Drible"><i class="fa fa-dribbble fa-2x"></i></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                  <a href="https://github.com/designernaruka" target="_blank" title="Checkout My Repo on GitHub"><i class="fa fa-github fa-2x"></i></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                  <a href="https://github.com/designernaruka" target="_blank" title="Follow me on Linked in"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                  <a href="https://github.com/designernaruka" target="_blank" title="Like on Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder">
                  <a href="https://github.com/designernaruka" target="_blank" title="Follow on Twitter"><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 iconHolder last-child">
                  <a href="https://github.com/designernaruka" target="_blank" title="Follow on Instagram"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- socially connected icons end -->

    <!-- footer navigation -->

    <section class="footerNavigation">
      <div class="container">
       <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xs-12">
        All rights reserved. <span class="secondaryColor">&copy;</span> 2016
       </div>
       <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 textright">
        <div class=" " role="navigation">
          <div class="pull-right">
            <div class="navbar-header page-scroll">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                    <a href="#page-top" title="RETURN TO TOP"></a>
                    <!-- <%= link_to(' ', '#page-top', class: 'page-scroll', title: 'RETURN TO TOP') %> -->
                  </li>
                  <li class="first-child">
                    <a href="#hello" title="Hello I am Designer Naruka">Hello</a>
                  </li>
                  <li>
                    <a href="#intro" title="INTRO" class="page-scroll">INTRO</a>
                  </li>
                  <li>
                    <a href="#about" title="ABOUT" class="page-scroll">ABOUT</a>
                  </li>
                  <li>
                    <a href="#skills" title="SKILLS" class="page-scroll">SKILLS</a>
                  </li>
                  <li>
                    <a href="#work" title="WORK" class="page-scroll">WORK</a>
                  </li>
                  <li>
                    <a href="#contact" title="LAB" class="page-scroll">LAB</a>
                  </li>
                </ul>
              </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </div>
       </div>
      </div>
    </section>

    <!-- footer navigation end -->

    <!-- footer logo -->
    <section class="footerLogo">
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 aligncenter">
          <div class="col-md-offset-5 col-md-2">
            <a href="#hello" title="Designer Naruka" class: "img-responsive aligncenter">
              <img src="images/brand/brand-logo-footer.svg" alt="Designer Naruka" width="" height="" class="img-responsive aligncenter">
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- footer logo -->
  </footer>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div class="overlay-content">
    <div class="contactmapForum">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 alignright">
        <div class="col-md-offset-1 col-md-8">
          <form role="form" id="contact-form" class="contact-form">
            <div class="headingSecondary">
              <div class="headingHolder">
                <h2>GET IN TOUCH</h2>
                <span>Contact for Project or Download CV</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" name="Name" autocomplete="off" id="Name" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control input-lg" name="email" autocomplete="off" id="email" placeholder="E-mail">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control textarea input-lg" rows="4" name="Message" id="Message" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn main-btn btn-lg hidden-sm hidden-xs">Send message</button>
                <button type="submit" class="btn main-btn btn-lg btn-block hidden-lg hidden-md">Leave A Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 alignleft">
        <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<span onclick="openNav()" class="contactForum"><i class="fa fa-envelope-o fa-fw fa-2x contactSprite" aria-hidden="true"></i></span>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap-sprockets.js"></script>
<script type="text/javascript" src="javascripts/swiper.min.js"></script>
<script type="text/javascript" src="javascripts/application.js"></script>
<script type="text/javascript" src="javascripts/v1layout.js"></script>
<script type="text/javascript" src="javascripts/css3-animate-it.js"></script>

  <!-- <%= yield %> -->

  <!-- <%= javascript_include_tag 'v1layout' %> -->

</body>
</html>