.cell-content-caption, .dnIntro .dnIntro-caption, .dnAbout .dnAbout-caption, .dnSkills .skillsContent, .dnSkills .dnSkills-caption, .dnWork .dnWork-caption, .dnLab .dnLab-caption {
  bottom: 0;
  color: #292E4A;
  display: table;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%; }

.content-holder, .dnIntro .dnIntro-content, .dnAbout .dnAbout-content, .dnSkills .dnSkills-content, .dnWork .dnWork-content, .dnLab .dnLab-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%; }

.cell-structure, .dnSkills .skillsSet .col-md-2,
.dnSkills .skillsSet .col-md-10 {
  display: table-cell;
  float: none;
  vertical-align: middle; }

/* only mixins only in this file */
/* border-radius */
/* Border-Radius */
/* Transactions */
/* Box Shadow */
/* Media Query for Tablet Landscape */
body {
  color: #292E4A;
  font-size: 1.2em; }
  body a {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: none;
    color: #A82900;
    text-decoration: none; }
    body a:hover {
      color: #292E4A;
      text-decoration: none; }

h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

.headingSecondary .headingHolder {
  display: inline-block;
  padding: 5px 0 5px 10px; }
.headingSecondary h2 {
  font-size: 3.2em; }
.headingSecondary h3 {
  font-size: 2.8em;
  line-height: 40px; }
.headingSecondary .textLighter {
  font-style: normal;
  font-weight: lighter; }
.headingSecondary:before {
  border-right: solid 6px #A82900;
  content: '';
  display: inline-block;
  height: 40px;
  margin: 6px 0 0 -15px;
  vertical-align: top; }
.headingSecondary span {
  display: block;
  font-size: 1.5em;
  font-weight: lighter; }

.spaceTzero {
  padding-top: 0; }

.spaceRzero {
  padding-right: 0; }

.spaceBzero {
  padding-bottom: 0; }

.spaceLzero {
  padding-left: 0; }

.spaceTnano {
  padding-top: 40px; }

.spaceBnano {
  padding-bottom: 40px; }

.spaceB120 {
  padding-bottom: 120px; }

.alignleft {
  float: left; }

.textleft {
  float: left; }

.alignright {
  float: right; }

.textright {
  text-align: right; }

.aligncenter {
  text-align: center; }

.secondaryColor {
  color: #A82900; }

.dnIntro {
  height: 100vh;
  position: relative;
  width: 100%; }
  .dnIntro .headingSecondary {
    display: inline-block;
    padding-left: 15px; }
  .dnIntro .introText {
    font-size: 1.2em;
    padding-top: 30px;
    line-height: 2em; }

.dnAbout {
  height: 100vh;
  position: relative;
  width: 100%; }
  .dnAbout .headingSecondary {
    padding-left: 15px; }

.dnSkills {
  height: 100vh;
  position: relative;
  width: 100%; }
  .dnSkills .skillsLeft {
    background-color: #292E4A;
    color: #ffffff;
    min-height: 100vh;
    text-align: right; }
  .dnSkills .skillsRight {
    background-color: #F8F4F4;
    color: #292E4A;
    min-height: 100vh;
    text-align: left; }
  .dnSkills .skillsPicture {
    position: absolute;
    top: -82px; }
    .dnSkills .skillsPicture img {
      min-height: 100vh;
      width: auto; }
  .dnSkills .skillsContent {
    padding: 20px 0; }
    .dnSkills .skillsContent.leftContent {
      color: #ffffff;
      text-align: right; }
      .dnSkills .skillsContent.leftContent .col-md-10 {
        border-right: dashed 2px #ffffff; }
      .dnSkills .skillsContent.leftContent .skillsSet {
        float: right; }
    .dnSkills .skillsContent.rightContent {
      color: #292E4A; }
      .dnSkills .skillsContent.rightContent .skillsSet {
        float: left; }
      .dnSkills .skillsContent.rightContent .col-md-10 {
        border-left: dashed 2px #292E4A; }
  .dnSkills .skillsSet {
    padding-top: 20px; }
    .dnSkills .skillsSet h4 {
      font-size: 1.8em;
      font-weight: normal; }
    .dnSkills .skillsSet .col-md-2 {
      text-align: center; }
    .dnSkills .skillsSet .skillExp {
      font-size: 1.2em;
      font-style: normal;
      font-weight: normal;
      width: 100%; }
  .dnSkills .headingSecondary {
    padding-left: 15px; }

.content-box {
  position: relative; }
  .content-box.alt-right {
    margin-bottom: 25px;
    padding-right: 60px; }
  .content-box .alt-icon-right {
    position: absolute;
    right: 0;
    top: 5px; }

.content-box {
  position: relative; }
  .content-box.alt-right, .content-box.alt-left {
    margin-bottom: 25px; }
  .content-box.alt-right {
    padding-right: 60px; }
  .content-box.alt-left {
    padding-left: 60px; }
  .content-box .alt-icon-right,
  .content-box .alt-icon-left {
    position: absolute;
    top: 5px; }
  .content-box .alt-icon-left {
    left: 0; }

.dnWork {
  height: 100vh;
  position: relative;
  width: 100%; }
  .dnWork .headingSecondary {
    padding-left: 15px; }

.dnLab {
  height: 100vh;
  position: relative;
  width: 100%; }
  .dnLab .headingSecondary {
    padding-left: 15px; }

/*# sourceMappingURL=v1layout.css.map */
